# Data Science Lifecycle

### 1 - Business Understanding
  - 1. Understand the problem (A banks wants to predict customer churn to reduce revenue loss)
  - 2. Define the success metrics (reduce customer churn by atleast 30%-- deliver business value)

2 - Data Understanding
  - 1. Collection (diff data sources---- Database, CSV, Datawarehouse, Data-lake)
  - 2. description (Initial analysis --- columns, mean, median, standard deviation)
  - 3. exploration (EDA--- data cleaning, data transformation, data distribution, correlation analysis, data sampling)
  - 4. Data quality (Data has the right data types, standardized)

3 - Data Preparation 
  - 1. clean
  - 2. transform (enriching the dataset)
  - 3. model 

4 - Data Modeling (Train a ML algorithm)
  - 1. training the model (regression, classification , etc)
     - Supervised Learning algorithm (Decision tree, linear regression, logistic regression)
     - Unsupervised Learning algorithm (Classification (K-MEANS), LSTM, Neural networks)

  - 2. Evaluation (checks how well the model performed)
      - Accuracy of the model
      - Hyper-parameter fine-tuning
  - 3. Deployment (deliver to end users (AKA customers))
      - API development 
      - CI/CD
      - Cloud-based hosting (Server, Database hosted)

# DATA SCIENCE PREREQUSITES

### 1 - Python 
 - pythoon for web development (flask, django, etc)
 - python for game development (pygames, 3Dgames)
 - python for scripting (bash, CLIs)
 - python for Data science (pandas, numpy, matplolib etc)


2- Python for Data science 
  - Pandas 
  - Numpy 
  - Data Wrangling 

3 - Statistics & probability
  - statistic behind EDA
  - statistic behind ML model (Regression)
  - statistic behing Correlation
  - statistic for Classification

4 - SQL for Data analysis
   - SELECT 
   - WHERE
   - FROM 

   ** Intermediate SQL
    - AVG
    - SUM
    - RANKING

   *** Advance SQL
    - SUB-QUERY
    - CTES
    - AGGREGATOR FUNCTIONS

## PANDAS

 - Python LIbrary that enables us to perform data manipulation & exploraiton

In [2]:
# step 1 importing pandas
import pandas as pd

In [3]:
# step 2 Loading a data in pandas 
#create a variable to store this data
df = pd.read_csv('patients.csv')
df.head(2)

,patient_id,age,gender,bmi,smoker,chronic_cond,injury_type,signup_date,referral_source,consent,clinic_id,insurance_type
0,1,29,Male,23.9,False,NaN,Knee,2025-04-27 00:12:44.286283,Insurance,True,6,Public
1,2,68,Female,31.7,True,NaN,Shoulder,2024-11-28 00:12:44.286283,Insurance,False,3,Public

In [4]:
# step 3 inspect the dataset (info, describe methods)
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   patient_id       5000 non-null   int64
 1   age              5000 non-null   int64
 2   gender           5000 non-null   object
 3   bmi              5000 non-null   float64
 4   smoker           5000 non-null   bool
 5   chronic_cond     1931 non-null   object
 6   injury_type      5000 non-null   object
 7   signup_date      5000 non-null   object
 8   referral_source  5000 non-null   object
 9   consent          5000 non-null   bool
 10  clinic_id        5000 non-null   int64
 11  insurance_type   5000 non-null   object
dtypes: bool(2), float64(1), int64(3), object(6)
memory usage: 400.5+ KB

        patient_id          age          bmi    clinic_id
count  5000.000000  5000.000000  5000.000000  5000.000000
mean   2500.500000    50.907200    25.174580     3.387800
std    1443.520003    19.403203     3.769633     1.749521
min       1.000000    18.000000    17.000000     1.000000
25%    1250.750000    34.000000    22.400000     2.000000
50%    2500.500000    51.000000    25.100000     3.000000
75%    3750.250000    68.000000    27.700000     5.000000
max    5000.000000    84.000000    38.800000     8.000000

In [34]:
# step 4 selecting columns 
df.head(2)
df['insurance_type']   #viewing the data in one column

0                Public
1                Public
2                Public
3       Private-Premium
4         Private-Basic
             ...
4995      Private-Basic
4996      Private-Basic
4997             Public
4998             Public
4999     Private-Top-Up
Name: insurance_type, Length: 5000, dtype: object

In [18]:
# step 5 Filtering rows 
df[ df['smoker'] == True ]

,patient_id,age,gender,bmi,smoker,chronic_cond,injury_type,signup_date,referral_source,consent,clinic_id,insurance_type
1,2,68,Female,31.7,True,NaN,Shoulder,2024-11-28 00:12:44.286283,Insurance,False,3,Public
7,8,77,Female,29.5,True,Hypertension,Back,2024-11-18 00:12:44.286283,GP,True,5,Public
11,12,31,Female,32.6,True,NaN,Shoulder,2024-11-07 00:12:44.286283,GP,False,1,Public
12,13,42,Female,28.9,True,NaN,Knee,2025-04-15 00:12:44.286283,Hospital,True,4,Private-Premium
33,34,26,Female,31.6,True,NaN,Knee,2025-02-28 00:12:44.286283,GP,True,1,Public
...,...,...,...,...,...,...,...,...,...,...,...,...
4971,4972,21,Female,30.1,True,NaN,Neck,2024-11-11 00:12:44.286283,Hospital,True,7,Public
4980,4981,76,Female,33.0,True,Diabetes,Knee,2024-11-18 00:12:44.286283,Insurance,False,2,Private-Basic
4983,4984,46,Male,29.0,True,Cardio,Shoulder,2025-04-22 00:12:44.286283,GP,True,1,Public
4990,4991,39,Female,32.9,True,NaN,Neck,2024-06-14 00:12:44.286283,GP,False,5,Public
4995,4996,33,Female,30.1,True,Diabetes,Back,2024-11-05 00:12:44.286283,Self-Referral,True,4,Private-Basic

In [33]:
# step 6 : Adding New columns 
df['bmiNew'] = df['bmi'] * 2
df.head(2)

,patient_id,age,gender,bmi,smoker,chronic_cond,injury_type,signup_date,referral_source,consent,clinic_id,insurance_type,bmiNew
0,1,29,Male,23.9,False,NaN,Knee,2025-04-27 00:12:44.286283,Insurance,True,6,Public,47.8
1,2,68,Female,31.7,True,NaN,Shoulder,2024-11-28 00:12:44.286283,Insurance,False,3,Public,63.4

In [ ]:
# step 7 : View data (by Grouping)
grouped_df = df.groupby('age')
grouped_df.head(2)

,patient_id,age,gender,bmi,smoker,chronic_cond,injury_type,signup_date,referral_source,consent,clinic_id,insurance_type,bmiNew
0,1,29,Male,23.9,False,NaN,Knee,2025-04-27 00:12:44.286283,Insurance,True,6,Public,47.8
1,2,68,Female,31.7,True,NaN,Shoulder,2024-11-28 00:12:44.286283,Insurance,False,3,Public,63.4
2,3,64,Male,27.5,False,NaN,Hip,2024-10-10 00:12:44.286283,GP,True,5,Public,55.0
3,4,41,Female,26.1,False,NaN,Back,2024-12-12 00:12:44.286283,GP,True,2,Private-Premium,52.2
4,5,22,Female,21.3,False,NaN,Shoulder,2025-03-28 00:12:44.286283,Insurance,True,4,Private-Basic,42.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
355,356,76,Male,26.5,False,NaN,Knee,2025-03-30 00:12:44.286283,GP,True,3,Public,53.0
399,400,44,Female,27.8,False,NaN,Shoulder,2024-10-23 00:12:44.286283,Insurance,True,4,Private-Basic,55.6
447,448,53,Male,27.8,False,Hypertension,Back,2025-05-02 00:12:44.286283,GP,True,4,Private-Premium,55.6
451,452,76,Female,25.7,False,NaN,Knee,2025-01-30 00:12:44.286283,Insurance,True,3,Private-Top-Up,51.4
511,512,44,Male,24.3,False,NaN,Knee,2024-09-19 00:12:44.286283,GP,True,1,Private-Top-Up,48.6

In [ ]:
# step 8  Data cleaning tecniques
# 1 - find missing values
df.isnull().sum()

patient_id            0
age                   0
gender                0
bmi                   0
smoker                0
chronic_cond       3069
injury_type           0
signup_date           0
referral_source       0
consent               0
clinic_id             0
insurance_type        0
bmiNew                0
dtype: int64